USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[OpeningHours_Update]    Script Date: 26.12.2025 0:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[OpeningHours_Update]
    @OpeningHoursId INT,
    @BusinessId INT,
    @DayOfWeek TINYINT,
    @OpenTime TIME(0),
    @CloseTime TIME(0)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM core.OpeningHours
        WHERE BusinessId = @BusinessId AND DayOfWeek = @DayOfWeek AND OpeningHoursId <> @OpeningHoursId
    )
    BEGIN
        RAISERROR('Another record already exists for this day.', 16, 1);
        RETURN;
    END

    UPDATE core.OpeningHours
    SET 
        BusinessId = @BusinessId,
        DayOfWeek = @DayOfWeek,
        OpenTime = @OpenTime,
        CloseTime = @CloseTime
    WHERE OpeningHoursId = @OpeningHoursId;

END
