USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[OpeningHours_GetByBusinessIdAndDow]    Script Date: 26.12.2025 0:39:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[OpeningHours_GetByBusinessIdAndDow]
	@BusinessId int,
	@DayOfWeek Tinyint
as 
begin
	set nocount on

	select * from core.OpeningHours
	WHERE BusinessId = @BusinessId 
	AND DayOfWeek = @DayOfWeek


end 