USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[OpeningHours_Delete]    Script Date: 26.12.2025 0:38:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[OpeningHours_Delete]
    @OpeningHoursId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM core.OpeningHours
    WHERE OpeningHoursId = @OpeningHoursId;

END
