USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[OpeningHours_GetById]    Script Date: 26.12.2025 0:39:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[OpeningHours_GetById]
    @OpeningHoursId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM core.OpeningHours
    WHERE OpeningHoursId = @OpeningHoursId;

END
