USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Customer_GetByBusinessId]    Script Date: 26.12.2025 0:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Customer_GetByBusinessId]
	@BusinessId int
as
begin

	Select * From core.Customer
	Where BusinessId = @BusinessId
	Order By CustomerId;

end