USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Customer_GetById]    Script Date: 26.12.2025 0:36:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Customer_GetById]
	@CustomerId INT
as

begin
	set nocount on
	
	SELECT * from core.Customer
	Where CustomerId = @CustomerId

end
