USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Customer_Delete]    Script Date: 26.12.2025 0:35:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Customer_Delete]
	@CustomerId Int
as

begin
	set nocount on
	
	Delete from core.Customer
	Where CustomerId = @CustomerId
	
end
