USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Customer_Update]    Script Date: 26.12.2025 0:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Customer_Update]
	@CustomerId INT,
	@BusinessId INT,
	@FullName NVarchar(200),
	@Email NVARCHAR(320),
	@Phone NVARCHAR(50)
as

begin
	set nocount on
	
	Update core.Customer
	SET
		BusinessId = COALESCE(@BusinessId, BusinessId),
		FullName = COALESCE(@FullName, FullName),
		Email = COALESCE(@Email, Email),
		Phone = COALESCE(@Phone, Phone)
	Where CustomerId = @CustomerId

end
