USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Customer_Create]    Script Date: 26.12.2025 0:35:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Customer_Create]
	@BusinessId INT,
	@FullName NVarchar(200),
	@Email NVARCHAR(320),
	@Phone NVARCHAR(50),
	@CustomerId INT OUTPUT
as

begin
	set nocount on
	
	insert into core.Customer (BusinessId, FullName, Email, Phone)
	Values (@BusinessId, @FullName, @Email, @Phone);

	set @CustomerId = SCOPE_IDENTITY();
end
