USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Business_GetAll]    Script Date: 26.11.2025 17:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[Business_GetAll]
    @Skip int,
    @Take int
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM core.Business
    ORDER BY CreatedAtUtc
    OFFSET @Skip ROWS
    FETCH NEXT @Take ROWS ONLY;
END
