USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Business_GetById]    Script Date: 26.11.2025 17:37:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[Business_GetById]
	@BusinessId INT

AS
Begin
	SET NOCOUNT ON

	SELECT * FROM core.Business b
	WHERE b.BusinessId = @BusinessId;

END