USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Business_Delete]    Script Date: 26.11.2025 17:36:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[Business_Delete]
    @BusinessId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM core.Business
    WHERE BusinessId = @BusinessId;

    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR('Error: Business ID not found or invalid.', 16, 2);
        RETURN;
    END
END
