USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Booking_GetBookingsCountByBusinessAndRange]    Script Date: 26.12.2025 0:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[Booking_GetBookingsCountByBusinessAndRange]
    @BusinessId INT,
    @ServiceId INT,
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @MaxRangeDays INT = 35

    IF DATEDIFF(DAY, @StartDate, @EndDate) > @MaxRangeDays
    BEGIN
        SET @EndDate = DATEADD(DAY, @MaxRangeDays, @StartDate)
    END


    SELECT 
        CAST(StartAtUtc AS DATE) AS BookingDate,
        COUNT(*) AS BookingCount
    FROM core.Booking
    WHERE BusinessId = @BusinessId
      AND ServiceId = @ServiceId
      AND Status = 'Confirmed'
      AND StartAtUtc >= @StartDate
      AND StartAtUtc <= @EndDate
    GROUP BY CAST(StartAtUtc AS DATE)
    ORDER BY BookingDate;
END
