USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Booking_GetAll]    Script Date: 26.12.2025 2:11:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Booking_GetAll]
	@PageNumber int,
	@PageSize int
as 
Begin 
	set nocount on

	If (@PageNumber < 1)
        set @PageNumber = 1;

    If (@PageSize < 1)
        set @PageSize = 10;

    If (@PageSize > 100)
        set @PageSize = 100;

    Declare @Offset Int;
    set @Offset = (@PageNumber - 1) * @PageSize;
	
	Select * From core.Booking bs
	Order By bs.StartAtUtc Desc
	OffSET @Offset ROWS
	FETCH NEXT @PageSize ROWS ONLY;
end