USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Booking_Cancel]    Script Date: 26.12.2025 2:12:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[Booking_Cancel]
    @BookingId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CurrentStatus NVARCHAR(50);

    SELECT @CurrentStatus = Status
    FROM core.Booking
    WHERE BookingId = @BookingId;

    IF @CurrentStatus = 'Cancelled'
    BEGIN
        RAISERROR('The booking is already canceled.', 16, 1);
        RETURN;
    END

    UPDATE core.Booking
    SET Status = 'Cancelled'
    WHERE BookingId = @BookingId;

END
