USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Booking_GetBookingsByRange]    Script Date: 26.12.2025 2:10:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Booking_GetBookingsByRange]
	@BusinessId INT,
	@StartAtUtc Datetime2,
	@EndAtUtc Datetime2,
	@PageNumber int,
	@PageSize int
as

Begin
	Set nocount on

	If (@PageNumber < 1)
        set @PageNumber = 1;

    If (@PageSize < 1)
        set @PageSize = 10;

    If (@PageSize > 100)
        set @PageSize = 100;

	Declare @Offset Int;
    set @Offset = (@PageNumber - 1) * @PageSize;

	select 
		BookingId,
		BusinessId,
		ServiceId,
		CustomerId,
		StartAtUtc,
		EndAtUtc,
		Status,
		Notes
	from core.Booking
	where @BusinessId = BusinessId
	and @StartAtUtc < EndAtUtc
	and @EndAtUtc > StartAtUtc
	Order By StartAtUtc Desc
	OFFSET @Offset rows
	Fetch next @PageSize rows only;
End