USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Booking_GetById]    Script Date: 26.12.2025 0:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Booking_GetById]
	@BookingId int
as
Begin

	set nocount on;

	Select * From core.Booking
	Where @BookingId = BookingId
End