USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Booking_GetAllSpec]    Script Date: 26.12.2025 2:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[Booking_GetAllSpec]
    @BusinessId INT = NULL,
    @ServiceId INT = NULL,
    @CustomerId INT = NULL,
    @Status NVARCHAR(12) = NULL,
    @Date DATE = NULL,

    @PageNumber INT = NULL,
    @PageSize INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SET @PageNumber = ISNULL(@PageNumber, 1)
    SET @PageSize = ISNULL(@PageSize, 10)

    If (@PageNumber < 1)
        set @PageNumber = 1;

    If (@PageSize < 1)
        set @PageSize = 10;

    If (@PageSize > 100)
        set @PageSize = 100;

    Declare @Offset Int;
    set @Offset = (@PageNumber - 1) * @PageSize;

    SELECT * FROM core.Booking
    WHERE
        (@BusinessId IS NULL OR BusinessId = @BusinessId)
        AND (@ServiceId IS NULL OR ServiceId = @ServiceId)
        AND (@CustomerId IS NULL OR CustomerId = @CustomerId)
        AND (@Status IS NULL OR Status = @Status)
        AND (@Date IS NULL OR CAST(StartAtUtc AS DATE) = @Date)
    ORDER BY StartAtUtc Desc
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
