USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Booking_Delete]    Script Date: 26.12.2025 0:30:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Booking_Delete]
	@BookingId int
as
Begin 
	set nocount on

	DELETE FROM core.Booking 
	where @BookingId = BookingId;

end
