USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Booking_ChangeStatus]    Script Date: 26.12.2025 0:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Booking_ChangeStatus]
	@BookingId int,
	@Status Varchar(12)
as

begin 
	set nocount on;

	update core.Booking
	set Status = @Status
	where BookingId = @BookingId

end