USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Booking_SafeCreate]    Script Date: 26.12.2025 0:33:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [core].[Booking_SafeCreate]
    @BusinessId INT,
    @ServiceId INT,
    @CustomerId INT,
    @StartAtUtc DATETIME2(3),
    @EndAtUtc DATETIME2(3),
    @Notes NVARCHAR(500) = NULL,
    @BookingId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRAN;

        IF (@StartAtUtc >= @EndAtUtc)
        BEGIN
            RAISERROR('EndAtUtc must be after StartAtUtc', 16, 1);
            ROLLBACK TRAN;
            RETURN;
        END

        IF EXISTS
        (
            SELECT 1 
            FROM core.Booking WITH (UPDLOCK, HOLDLOCK)
            WHERE BusinessId = @BusinessId
              AND ServiceId = @ServiceId
              AND @StartAtUtc = StartAtUtc
              AND @StartAtUtc < EndAtUtc
              AND @EndAtUtc > StartAtUtc
              AND Status = 'Confirmed'              
        )
        BEGIN
            RAISERROR('Slot has already been taken', 16, 1);
            ROLLBACK TRAN;
            RETURN;
        END

        INSERT INTO core.Booking (BusinessId, ServiceId, CustomerId, StartAtUtc, EndAtUtc, Status, Notes)
        VALUES (@BusinessId, @ServiceId, @CustomerId, @StartAtUtc, @EndAtUtc, 'Pending', @Notes);

        SET @BookingId = SCOPE_IDENTITY();

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        THROW;
    END CATCH
END
