USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Service_GetAll]    Script Date: 26.12.2025 0:41:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Service_GetAll]
    @PageNumber int, 
	@PageSize int
as
begin
	set nocount on

	If (@PageNumber < 1)
        set @PageNumber = 1;

    If (@PageSize < 1)
        set @PageSize = 10;

    If (@PageSize > 100)
        set @PageSize = 100;

    Declare @Offset Int;
    set @Offset = (@PageNumber - 1) * @PageSize;

	select * from core.Service s
	ORDER BY s.ServiceId
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
end
