USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Service_GetById]    Script Date: 26.12.2025 0:41:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Service_GetById]
	@ServiceId INT
as

begin
	set nocount on

	select * from core.Service s
	where s.ServiceId = @ServiceId;
	
end