USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Service_Delete]    Script Date: 26.12.2025 0:40:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   procedure [core].[Service_Delete]
	@ServiceId int
as 
begin
	set nocount on

	Delete from core.Service
	where ServiceId = @ServiceId

end
