USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Service_Create]    Script Date: 26.12.2025 0:40:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Service_Create]
	@ServiceId INT OUTPUT,
	@BusinessId	INT,
	@Name NVARCHAR(200),
	@DurationMin INT,
	@Price DECIMAL(10,2),
	@IsActive BIT
As
Begin
	set nocount on;
	
	insert core.Service (BusinessId, Name, DurationMin, Price, IsActive)
	values (@BusinessId, @Name, @DurationMin, @Price, @IsActive);
	
	set @ServiceId = SCOPE_IDENTITY();

end
