USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Service_Deactivate]    Script Date: 26.12.2025 0:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Service_Deactivate]
	@ServiceId int
as

begin 
	set nocount on;

	update core.Service
	set IsActive = 0
	where ServiceId = @ServiceId

end