USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Service_GetByBusinessId]    Script Date: 26.12.2025 0:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Procedure [core].[Service_GetByBusinessId]
	@BusinessId INT
AS
Begin
	SET NOCOUNT ON

	SELECT * FROM core.Service
	Where BusinessId = @BusinessId

End