USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Booking_GetAll]    Script Date: 26.11.2025 17:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Booking_GetAll]
	@Skip int,
	@Take int
as 
Begin 
	set nocount on
	
	Select * From core.Booking bs
	Order By bs.StartAtUtc
	OffSET @Skip ROWS
	FETCH NEXT @Take ROWS ONLY;
end