USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Booking_GetById]    Script Date: 26.11.2025 17:35:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Booking_GetById]
	@BookingId int
as
Begin
	Select * From core.Booking
	Where @BookingId = BookingId

	IF @@ROWCOUNT = 0
	BEGIN
		RAISERROR('No record found for the given ID', 16, 1);
		RETURN;
	END
End