USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Booking_GetAllSpec]    Script Date: 26.11.2025 17:35:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[Booking_GetAllSpec]
    @BusinessId INT = NULL,
    @ServiceId INT = NULL,
    @CustomerId INT = NULL,
    @Status NVARCHAR(12) = NULL,
    @Date DATE = NULL,

    @Skip INT = NULL,
    @Take INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    --default values for skip and take
    SET @Skip = ISNULL(@Skip, 0);
    SET @Take = ISNULL(@Take, 100000);

    SELECT * FROM core.Booking
    WHERE
        (@BusinessId IS NULL OR BusinessId = @BusinessId)
        AND (@ServiceId IS NULL OR ServiceId = @ServiceId)
        AND (@CustomerId IS NULL OR CustomerId = @CustomerId)
        AND (@Status IS NULL OR Status = @Status)
        AND (@Date IS NULL OR CAST(StartAtUtc AS DATE) = @Date)
    ORDER BY StartAtUtc
    OFFSET @Skip ROWS
    FETCH NEXT @Take ROWS ONLY;
END
