USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Booking_Delete]    Script Date: 26.11.2025 17:34:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Booking_Delete]
	@BookingId int
as
Begin 
	set nocount on

	DELETE FROM core.Booking 
	where @BookingId = BookingId;

end
