USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Booking_SafeUpdate]    Script Date: 26.11.2025 17:36:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Booking_SafeUpdate]
	@BookingId INT,
    @BusinessId INT,
    @ServiceId INT,
    @CustomerId INT,
    @StartAtUtc DATETIME2(3),
    @EndAtUtc DATETIME2(3),
    @Notes NVARCHAR(500) = NULL
as
begin 
    set nocount on
    set xact_abort on
    
    begin try
        Begin Tran;
            
            Delete from core.Booking where @BookingId = BookingId;
            Exec core.Booking_SafeCreate
                @BusinessId, @ServiceId, @CustomerId, @StartAtUtc, @EndAtUtc, @Notes, @BookingId

        Commit tran;
    end try
    begin catch
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        THROW;
    end catch
end
