USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Business_Create]    Script Date: 26.12.2025 0:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Create
ALTER   PROCEDURE [core].[Business_Create]
  @Name         NVARCHAR(200),
  @Email        NVARCHAR(320) = NULL,
  @Phone        NVARCHAR(50)  = NULL,
  @TimeZoneIana NVARCHAR(100) = 'Asia/Yerevan',
  @SettingsJson NVARCHAR(MAX) = NULL,
  @BusinessId   INT OUTPUT
AS
BEGIN
  SET NOCOUNT ON;

  INSERT core.Business (Name, Email, Phone, TimeZoneIana, SettingsJson)
  VALUES (@Name, @Email, @Phone, @TimeZoneIana, @SettingsJson);

  SET @BusinessId = SCOPE_IDENTITY();
END
