USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Business_GetAll]    Script Date: 26.12.2025 0:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[Business_GetAll]
    @PageNumber int,
    @PageSize int
AS
BEGIN
    SET NOCOUNT ON;

    If (@PageNumber < 1)
        set @PageNumber = 1;

    If (@PageSize < 1)
        set @PageSize = 10;

    If (@PageSize > 100)
        set @PageSize = 100;

    Declare @Offset Int;
    set @Offset = (@PageNumber - 1) * @PageSize;

    SELECT * FROM core.Business
    ORDER BY CreatedAtUtc
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
