USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Business_Delete]    Script Date: 26.12.2025 0:34:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[Business_Delete]
    @BusinessId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM core.Business
    WHERE BusinessId = @BusinessId;

END
