USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Business_Update]    Script Date: 26.12.2025 0:34:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Business_Update]
	@BusinessId INT,
	@Name Nvarchar(200),
	@Email Nvarchar(320),
	@Phone Nvarchar(50),
	@TimeZoneIana nvarchar(100),
	@SettingsJson nvarchar(max) 
AS
Begin
 Set nocount on
	
	Update core.Business
	Set
		Name = COALESCE(@Name, Name),
		Email = COALESCE(@Email, Email),
		Phone = COALESCE(@Phone, Phone),
		TimeZoneIana = COALESCE(@TimeZoneIana, TimeZoneIana),
		SettingsJson = COALESCE(@SettingsJson, SettingsJson)
	Where BusinessId = @BusinessId

End
