USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Customer_GetAll]    Script Date: 26.11.2025 17:40:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Customer_GetAll]
	@Skip int, 
	@Take int
as
begin
	Select * From core.Customer
	Order By CustomerId
	OFFSET @Skip ROWS
	FETCH NEXT @TAKE ROWS ONLY;
end