USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Customer_Update]    Script Date: 26.11.2025 17:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Customer_Update]
	@CustomerId INT,
	@BusinessId INT,
	@FullName NVarchar(200),
	@Email NVARCHAR(320),
	@Phone NVARCHAR(50)
as

begin
	set nocount on
	
	Update core.Customer
	SET
		BusinessId = COALESCE(@BusinessId, BusinessId),
		FullName = COALESCE(@FullName, FullName),
		Email = COALESCE(@Email, Email),
		Phone = COALESCE(@Phone, Phone)
	Where CustomerId = @CustomerId

	IF @@ROWCOUNT = 0
	BEGIN
		RAISERROR('No record found for the given ID', 16, 1);
		RETURN;
	END

end
