USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Customer_Delete]    Script Date: 26.11.2025 17:40:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Customer_Delete]
	@CustomerId Int
as

begin
	set nocount on
	
	Delete from core.Customer
	Where CustomerId = @CustomerId

	IF @@ROWCOUNT = 0
	BEGIN
		RAISERROR('No record found for the given ID', 16, 1);
		RETURN;
	END
	
end
