USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[OpeningHours_Delete]    Script Date: 26.11.2025 17:43:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[OpeningHours_Delete]
    @OpeningHoursId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM core.OpeningHours
    WHERE OpeningHoursId = @OpeningHoursId;

    IF @@ROWCOUNT = 0
    Begin
        RAISERROR('OpeningHours not found.', 16, 1);
        Return;
    End
END
