USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[OpeningHours_GetByBusinessId]    Script Date: 26.11.2025 17:43:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[OpeningHours_GetByBusinessId]
    @BusinessId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM OpeningHours
    WHERE BusinessId = @BusinessId
    ORDER BY DayOfWeek;
END
