USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[OpeningHours_GetAll]    Script Date: 26.11.2025 17:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[OpeningHours_GetAll]
    @Skip INT,
    @Take INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM core.OpeningHours
    ORDER BY BusinessId, DayOfWeek
    OFFSET @Skip ROWS 
    FETCH NEXT @Take ROWS ONLY;
END
