USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[OpeningHours_Create]    Script Date: 26.11.2025 17:43:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[OpeningHours_Create]
    @BusinessId INT,
    @DayOfWeek TINYINT,
    @OpenTime TIME(0),
    @CloseTime TIME(0)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM core.OpeningHours
        WHERE BusinessId = @BusinessId AND DayOfWeek = @DayOfWeek
    )
    BEGIN
        RAISERROR('Opening hours for this day already exist for this business.', 16, 1);
        RETURN;
    END

    INSERT INTO core.OpeningHours (BusinessId, DayOfWeek, OpenTime, CloseTime)
    VALUES (@BusinessId, @DayOfWeek, @OpenTime, @CloseTime);

    SELECT SCOPE_IDENTITY() AS NewOpeningHoursId;
    
END
