USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[OpeningHours_GetById]    Script Date: 26.11.2025 17:43:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[OpeningHours_GetById]
    @OpeningHoursId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM core.OpeningHours
    WHERE OpeningHoursId = @OpeningHoursId;

END
