USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Service_GetById]    Script Date: 26.11.2025 17:45:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Service_GetById]
	@ServiceId INT
as

begin
	set nocount on

	select * from core.Service s
	where s.ServiceId = @ServiceId;

	IF @@ROWCOUNT = 0
	BEGIN
		RAISERROR('No record found for the given ID', 16, 1);
		RETURN;
	END
	
end