USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Service_Delete]    Script Date: 26.11.2025 17:45:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   procedure [core].[Service_Delete]
	@ServiceId int
as 
begin
	set nocount on
	Delete from core.Service
	where ServiceId = @ServiceId

	IF @@ROWCOUNT = 0
	BEGIN
		RAISERROR('No record found for the given ID', 16, 1);
		RETURN;
	END
end
