USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Service_Update]    Script Date: 26.11.2025 17:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Service_Update]
	@ServiceId Int,
	@BusinessId Int,
	@Name NVARCHAR(200),
	@DurationMin int,
	@Price Decimal(10,2),
	@IsActive Bit = 1
as
begin
	set nocount on

        UPDATE core.Service
        SET
            BusinessId   = COALESCE(@BusinessId, BusinessId),
            Name         = COALESCE(@Name, Name),
            DurationMin  = COALESCE(@DurationMin, DurationMin),
            Price        = COALESCE(@Price, Price),
            IsActive     = COALESCE(@IsActive, IsActive)
        WHERE ServiceId = @ServiceId;

        IF (@@ROWCOUNT = 0)
        BEGIN
            RAISERROR('No rows were updated.', 16, 1);
            RETURN;
        END;
end
