USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Service_GetAll]    Script Date: 26.11.2025 17:45:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Service_GetAll]
	@Skip int,
	@Take int
as
begin
	set nocount on

	select * from core.Service s
	ORDER BY s.ServiceId
    OFFSET @Skip ROWS
    FETCH NEXT @Take ROWS ONLY;
end
