USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Holiday_GetByBusinessId]    Script Date: 26.11.2025 17:41:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [core].[Holiday_GetByBusinessId]
	@BusinessId int,
	@HolidayDate Date
as 
begin
	set nocount on
	
	select * from core.Holiday
	WHERE BusinessId = @BusinessId
	AND HolidayDate = @HolidayDate

end 