USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Holidays_GetAll]    Script Date: 26.11.2025 17:41:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[Holidays_GetAll]
    @Skip INT,
    @Take INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM core.Holiday
    ORDER BY HolidayDate
    OFFSET @Skip ROWS 
    FETCH NEXT @Take ROWS ONLY;
END
