USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Holiday_Create]    Script Date: 26.11.2025 17:41:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[Holiday_Create]
    @BusinessId INT,
    @HolidayDate DATE,
    @Reason NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM core.Holiday
        WHERE BusinessId = @BusinessId AND HolidayDate = @HolidayDate
    )
    BEGIN
        RAISERROR('A holiday for this date already exists for this business.', 16, 1);
        RETURN;
    END

    INSERT INTO core.Holiday (BusinessId, HolidayDate, Reason)
    VALUES (@BusinessId, @HolidayDate, @Reason);

    SELECT SCOPE_IDENTITY() AS NewHolidayId;
END