USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Holiday_Delete]    Script Date: 26.11.2025 17:41:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[Holiday_Delete]
    @HolidayId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM core.Holiday WHERE HolidayId = @HolidayId;

    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR('Holiday not found.', 16, 1);
        RETURN;
    END
END
