USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Holiday_Update]    Script Date: 26.12.2025 0:37:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[Holiday_Update]
    @HolidayId INT,
    @BusinessId INT,
    @HolidayDate DATE,
    @Reason NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1 FROM core.Holiday
        WHERE BusinessId = @BusinessId 
            AND HolidayDate = @HolidayDate
            AND HolidayId <> @HolidayId  --other 
    )
    BEGIN
        RAISERROR('Another holiday already exists on this date for this business.', 16, 1);
        RETURN;
    END

    UPDATE core.Holiday
    SET 
        BusinessId = @BusinessId,
        HolidayDate = @HolidayDate,
        Reason = @Reason
    WHERE HolidayId = @HolidayId;

END