USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Holiday_Delete]    Script Date: 26.12.2025 0:36:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[Holiday_Delete]
    @HolidayId INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM core.Holiday
    WHERE HolidayId = @HolidayId;

END
