USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Holiday_GetById]    Script Date: 26.12.2025 0:37:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[Holiday_GetById]
    @HolidayId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM core.Holiday
    WHERE HolidayId = @HolidayId;

END
