USE [SmartAppt]
GO
/****** Object:  StoredProcedure [core].[Holiday_GetAllByMonth]    Script Date: 26.12.2025 0:37:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [core].[Holiday_GetAllByMonth]
    @BusinessId INT,
    @Year INT,
    @Month INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM core.Holiday
    WHERE BusinessId = @BusinessId
      AND YEAR(HolidayDate) = @Year
      AND MONTH(HolidayDate) = @Month
    ORDER BY HolidayDate;
END
